Helsinki       60.16    24.83  2     EU
Riihimäki      60.739   24.772 2     EU
Tampere        61.498   23.761 2     EU
Ylöjärvi       61.55    23.583 2     EU
Rovaniemi      66.5     25.733 2     EU
Inari          68.905   27.03  2     EU
Utsjoki        69.9     27.017 2     EU
Tukholma       59.329   18.069 1     EU
Stockholm      59.329   18.069 1     EU
Vargön         58.35    12.4   1     EU
Reykjavik      64.135  -21.895 0     None
Longyearbyen   78.22    15.65  1     EU
Tallinna       59.437   24.745 2     EU
Tallinn        59.437   24.745 2     EU
Moskova        55.75    37.617 3     None
Moscow         55.75    37.617 3     None
Lontoo         51.5     -0.126 0     EU
London         51.5     -0.126 0     EU
Hampuri        53.553    9.992 1     EU
Hamburg        53.553    9.992 1     EU
Rooma          41.895   12.482 1     EU
Roma           41.895   12.482 1     EU
Tokio          35.683  139.767 9     None
Tokyo          35.683  139.767 9     None
Teheran        35.696   51.423 3.5   None
Tehran         35.696   51.423 3.5   None
*
